<h1>Cadastro de Funcionarios</h1>
<form action="/create" method="post">
    <label for="nam">nome:</label>
    <input type="text" name="name" id="bookname" placeholder="Informe o Título do Livro"
</form>
<form action="/create" method="post">
    <label for="nam">nome:</label>
    <input type="text" name="name" id="bookprice" placeholder="Informe o Preço"
</form>
